doxygen-output/* linguist-vendored=true
./doxygen-output/* linguist-vendored=true
*.js linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.tex linguist-vendored
*.eps linguist-vendored
*.bat linguist-vendored
Makefile linguist-vendored